.spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background-color: transparent;
}

span {
  color: var(--light-color);
}

mat-icon{
  color: var(--light-color);
}

.left-pading{
  padding-left: 2.5rem;
}

.right-pading{
  padding-right: 2.5rem;
}
